/* Style the enhanced about section */
.container-about {
    background-color:#0b0918;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}

.container-about h1 {
    display: inline;
    padding: 4px 50px;
    margin-bottom: 50px;
    background-color: purple;
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.container-about h2{
    color: whitesmoke;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container-about p {
    color: white;
    font-size: 17px;
    /* line-height: 1.5; Adjust the line height for better readability */
}

.highlight {
    color:  purple;
    font-weight: 500;
}
.container-about p p {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color:  purple;
}
h3{
    text-align: center;
    font-weight:bolder;
    color: #dd9940;
}

.skills p{
text-align: center;
}
.checkmark{
    color: #dd9940;
}

.skills{
margin-top: 40px;
}
