.navbar {
  display: flex;
  align-items: center;
  background-color: #1b0f25;
}




.navbar-toggler {

  color: white;
  font-size: 10px;
  cursor: pointer;
  
}

.navbar-menu {
  background-color: #1b0f25;
}

.navbar-menu.active {
  color: #73518f;

}


.nav-link {
  color: white;
  
}
